extends ../layout.pug

block content
  h2= task.title
  p= task.description
  p Estado: #[strong #{statusLabel}]
  p Área: #[code #{departmentName || '-'}]  |  · Asignado a: #[code #{assigneeName || '-'}]
  if project
    p Proyecto asociado: #[code #{project.name}]
  p
    a(href=`/tasks/${task.id}/edit`) ✏️ Editar
  
